<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Featured Projects Menu -->
    <menuitem id="menu_bbweb_projects"
              name="Featured Projects"
              parent="menu_bbweb_root"
              action="action_bbweb_featured_project"
              sequence="10"/>

    <!-- Team Members Menu -->
    <menuitem id="menu_bbweb_team"
              name="Team Members"
              parent="menu_bbweb_root"
              action="action_bbweb_team_member"
              sequence="20"/>

    <!-- Blog Menu (Parent) -->
    <menuitem id="menu_blog_root"
              name="Blog"
              parent="menu_bbweb_root"
              sequence="30"/>

    <!-- Blog Posts Menu -->
    <menuitem id="menu_bbweb_blog"
              name="Blog Posts"
              parent="menu_blog_root"
              action="action_bbweb_blog_post"
              sequence="10"/>

    <!-- Blog Comments Menu -->
    <menuitem id="menu_blog_comment"
              name="Comments"
              parent="menu_blog_root"
              action="action_blog_comment"
              sequence="20"/>

    <!-- Blog Likes Menu -->
    <menuitem id="menu_blog_like"
              name="Blog Likes"
              parent="menu_blog_root"
              action="action_blog_like"
              sequence="30"/>

    <!-- Comment Likes Menu -->
    <menuitem id="menu_comment_like"
              name="Comment Likes"
              parent="menu_blog_root"
              action="action_comment_like"
              sequence="40"/>

    <!-- Career Listings Menu -->
    <menuitem id="menu_bbweb_careers"
              name="Careers"
              parent="menu_bbweb_root"
              action="action_bbweb_career"
              sequence="40"/>

    <menuitem id="menu_bbweb_leads"
              name="Leads"
              parent="menu_bbweb_root"
              action="action_bbweb_leads"
              sequence="50"/>

    <menuitem id="menu_bbweb_applications"
              name="Job Applications"
              parent="menu_bbweb_root"
              action="action_bbweb_job_application"
              sequence="55"/>

    <!-- Configuration Submenu -->
    <menuitem id="menu_bbweb_config"
              name="Configuration"
              parent="menu_bbweb_root"
              sequence="100"/>

    <menuitem id="menu_bbweb_project_tags"
              name="Project Tags"
              parent="menu_bbweb_config"
              action="action_bbweb_project_tag"
              sequence="10"/>

    <menuitem id="menu_bbweb_blog_tags"
              name="Blog Tags"
              parent="menu_bbweb_config"
              action="action_bbweb_blog_tag"
              sequence="20"/>

    <menuitem id="menu_bbweb_website_seo"
              name="Website Page SEO"
              parent="menu_bbweb_config"
              action="action_bbweb_website_page_seo"
              sequence="30"/>
</odoo>
